<!DOCTYPE html>
<html>

<head>
  <title>LondonBlog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <%= yield %>

  <% if flash[:alert] %>
  <p>Alert: <%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
  <p>Notice: <%= flash[:notice] %></p>
  <% end %>
</body>

</html>